<%- include('partials/header'); %>

</head>
<body>
    <%- include('partials/loading'); %>
    <%- include('partials/delete_alert_box'); %>
    <!---------------------------- Create -----------------------------------------> 
    <div class="create min-vh-100 w-100 position-fixed top-0 d-flex justify-content-center align-items-center fadeIn d-none" id="create_question">
        <div class="new-content rounded py-4 px-3 shadow-sm">
            <h5 class="text-center mb-3">Add Question</h5>
            <form action="/admin/audio-photo-multiple-choice" method="post" onsubmit="showLoading();" enctype="multipart/form-data">
                <div class="input-group-sm mb-3 shadow-sm">
                    <label for="audio" class="form-label mb-1 fw-medium"><small>Question</small></label>
                    <input type="text" name="audio" class="form-control" id="audio" required>
                </div>
                <!-- <div class="input-group-sm mb-3 shadow-sm">
                    <label for="upload_audio" class="form-label mb-1 fw-medium"><small>Upload Audio</small></label>
                    <input type="file" name="audio" class="form-control" id="upload_audio" accept="audio/*" required>
                </div> -->
                <div class="input-group-sm mb-3 shadow-sm">
                    <label for="correctAnswer" class="form-label mb-1 fw-medium"><small>Correct Answer</small></label>
                    <input type="text" name="correctAnswer" class="form-control" id="correctAnswer" required>
                </div>
               
                <div class="input-group-sm mb-3">
                    <div class="row align-items-center">
                        <div class="col-12 mb-1">
                            <input type="text" name="answerText1" class="form-control" placeholder="option 1" required>
                        </div>
                        <div class="col-5">
                            <input type="text" name="prounced1" class="form-control" placeholder="pronunciation" required>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input type="file" name="answerPhoto1" class="form-control" accept="image/*" required>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-check">
                                <input type="radio" name="isAnswer" value="1" class="form-check-input" required>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-12 mb-1">
                            <input type="text" name="answerText2" class="form-control" placeholder="option 2" required>
                        </div>
                        <div class="col-5">
                            <input type="text" name="prounced2" class="form-control" placeholder="pronunciation" required>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input type="file" name="answerPhoto2"  class="form-control" accept="image/*" required>
                            </div>
                        </div>
                        
                        <div class="col-1">
                            <div class="form-check">
                                <input type="radio" name="isAnswer" value="2" class="form-check-input" required>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-12 mb-1">
                            <input type="text" name="answerText3" class="form-control" placeholder="option 3" required>
                        </div>
                        <div class="col-5">
                            <input type="text" name="prounced3" class="form-control" placeholder="pronunciation" required>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input type="file" name="answerPhoto3"  class="form-control" accept="image/*" required>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-check">
                                <input type="radio" name="isAnswer" value="3" class="form-check-input" required>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-2">
                        <div class="col-12 m-1">
                            <input type="text" name="answerText4" class="form-control" placeholder="option 4" required>
                        </div>
                        <div class="col-5">
                            <input type="text" name="prounced4" class="form-control" placeholder="pronunciation" required>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input type="file" name="answerPhoto4"  class="form-control" accept="image/*" required>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="form-check">
                                <input type="radio" name="isAnswer" value="4" class="form-check-input" required>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="unitId" value="<%= unit._id %>">
                <div class="d-flex justify-content-end align-items-center">
                    <div class="btn btn-sm btn-danger me-2" id="cancel_btn">Cancel</div>
                    <input type="submit" class="btn btn-sm btn-success" value="Create">
                </div>
            </form>
        </div>
    </div>

    <!-----------------------Main Content --------------->
    <section class="main">

        <%- include('partials/menu_bar'); %>

        <!---------------------------- content  ----------------------------------------->
        <article class="content min-vh-100">
             <%- include('partials/check_message'); %>
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/course">Course</a></li>
                    <li class="breadcrumb-item"><a href="/admin/units/<%= unit.courseId %>">Units</a></li>
                    <li class="breadcrumb-item"><a href="/admin/unit-detail/<%= unit._id %>"><%= unit.title %></a></li>
                    <li class="breadcrumb-item"><a href="/admin/quiz/<%= unit._id %>">Quiz</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Audio&Photo Multiple Choice</li>
                    </ol>
                </nav>

                <div class="btn btn-sm btn-warning" id="add_question"><small><i class="bi bi-plus me-2"></i>Add Question</small></div>
                </div>
            <div class="table-container mt-3 py-3 px-2 bg-white shadow-sm">
                <table id="example" class="display bg-white" style="width:100%">
                    <thead>
                        <tr>
                            <th>Add Audio&Photo Multiple Choice</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%  for(var i = 0; i < unit.quiz.multipleChoiceWithAudioPhoto.length; i++){ %>
                            <tr>
                                <td><%= "Multiple Choice " + (i + 1) %></td>
                                <td>
                                    <a href="/admin/audio-photo-multiple-choice-detail/<%= unit._id %>/<%= i %>" class="text-info text-decoration-underline mx-2">more Info</a>
                                    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setDeleteData('/admin/delete-audio-multiple-choice/<%= unit._id %>/<%= i %>')">
                                        <i class="bi bi-trash3-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
        </article>

        <%- include('partials/footer'); %>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" ></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="/js/all.js"></script>
    <script>

        $(document).ready(function () {
            $('#example').DataTable();
        });

        let addQues = document.querySelector('#add_question'),
            editBtn = document.querySelector('#edit_btn'),
            craeteQues = document.querySelector('#create_question'),
            cancelBtn = document.querySelector('#cancel_btn');

        addQues.addEventListener('click', () => {
            craeteQues.classList.remove('d-none');
        });

        cancelBtn.addEventListener('click', () => {
            craeteQues.classList.add('d-none');
        });

        function setDeleteData(link){
            let deleteBtn = document.querySelector('#deleteButtonID');
            deleteBtn.href = link;
        }

    </script>
</body>
</html>