<%- include('partials/header'); %>
<link rel="stylesheet" href="../css/course.css" rel="stylesheet">

</head>
<body>
   
    <%- include('partials/loading'); %>

    <!---------------------------- create course -----------------------------------------> 
    <div class="create min-vh-100 w-100 position-fixed top-0 d-flex justify-content-center align-items-center fadeIn d-none" id="create_course">
        <div class="new-content rounded py-4 px-3 shadow-sm">
            <h5 class="text-center mb-3">Add Course</h5>
            <form action="/admin/course" method="post" enctype="multipart/form-data" onsubmit="showLoading();">
                <div class="input-group-sm mb-2 shadow-sm">
                    <label for="course_name" class="form-label mb-1"><small>Course Name</small></label>
                    <input type="text" name="name" class="form-control" id="course_name" required>
                </div>
                <!-- <div class="input-group-sm mb-2 shadow-sm">
                    <label for="course_price" class="form-label mb-1"><small>Course Price</small></label>
                    <input type="text" name="price" class="form-control" id="course_price" required>
                </div> -->
                <div class="input-group-sm mb-2 shadow-sm">
                    <label for="upload" class="form-label mb-1"><small>Upload Logo</small></label>
                    <input type="file" name="logo" class="form-control" id="upload" required>
                </div>
                <!-- <div class="input-group-sm mb-2 shadow-sm">
                    <label for="upload" class="form-label mb-1"><small>Upload Photo</small></label>
                    <input type="file" name="photo" class="form-control" id="upload" required>
                </div> -->
                <div class="d-flex justify-content-end align-items-center">
                    <div class="btn btn-sm btn-danger me-2" id="cancel_btn">Cancel</div>
                    <input type="submit" class="btn btn-sm btn-success" value="Create">
                </div>
            </form>
        </div>
    </div>

        <!---------------------------- edit course -----------------------------------------> 
        <div class="create min-vh-100 w-100 position-fixed top-0 d-flex justify-content-center align-items-center fadeIn d-none" id="edit_course">
            <div class="new-content rounded py-4 px-3 shadow-sm">
                <h5 class="text-center mb-3">Add Course</h5>
                <form action="/admin/update-course" method="post" enctype="multipart/form-data" onsubmit="showLoading();">
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="edit_course_name" class="form-label mb-1"><small>Course Name</small></label>
                        <input type="text" name="editName" class="form-control" id="edit_course_name" required>
                    </div>
                    <!-- <div class="input-group-sm mb-2 shadow-sm">
                        <label for="edit_course_price" class="form-label mb-1"><small>Course Price</small></label>
                        <input type="text" name="editPrice" class="form-control" id="edit_course_price" required>
                    </div> -->
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="edit_upload" class="form-label mb-1"><small>Upload Logo</small></label>
                        <input type="file" name="logo" class="form-control" id="edit_upload">
                    </div>
                    <!-- <div class="input-group-sm mb-2 shadow-sm">
                        <label for="edit_upload" class="form-label mb-1"><small>Upload Photo</small></label>
                        <input type="file" name="photo" class="form-control" id="edit_upload">
                    </div> -->
                    <input type="hidden" name="courseId" id="course_id">
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="btn btn-sm btn-danger me-2" id="cancel_edit_btn">Cancel</div>
                        <input type="submit" class="btn btn-sm btn-success" value="Update">
                    </div>
                </form>
            </div>
        </div>

    <section class="main">

        <%- include('partials/menu_bar'); %>

        <!---------------------------- content  ----------------------------------------->
        <article class="content min-vh-100 course-content">

            <%- include('partials/check_message'); %>

            <div class="d-flex justify-content-between align-items-center">
                <h5 class="">Course</h5>
                <a href="#" class="btn btn-sm btn-warning text-dark" id="add_course">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="bi bi-plus me-2 fw-medium"></i><small>Add Course</small>
                    </div>
                </a>
            </div>
            <div class="bg-white shadow-sm mx-2 px-2 py-3 mt-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <select name="" id="" class="border-0 mt-2">
                        <option value="1">All</option>
                        <option value="2">Free</option>
                        <option value="3">Premium</option>
                    </select>
                    <div class="mt-2">
                        <span class="">Search</span>
                        <input type="search" class="border-0 px-2" id="filter" placeholder="search for anything">
                    </div>
                </div>

                <div class="row mt-3">
                    <% for(var i = 0; i < courses.length; i++){ %>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mt-3">
                            <div class="text-end">
                                <div class="btn" onclick="edit('<%= JSON.stringify(courses[i]) %>');"><i class="bi bi-pencil-square"></i></div>
                            </div>
                            <a href="/admin/units/<%= courses[i]._id %>" class="">
                                <div class="card shadow-sm text-dark">
                                    <img src=<%= courses[i].logo %> alt="" class="img-fluid">
                                    <div class="card-body text-center">
                                        <h6 class=""><%= courses[i].name %></h6>
                                        <!-- <span class="text-success fw-medium"><%= courses[i].price %> MMK</span> -->
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        </article>

        <%- include('partials/footer'); %>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/all.js"></script>

    <script>

        //CREATE
        let addCourse = document.querySelector('#add_course'),
            createCourse = document.querySelector('#create_course'),
            cancelBtn = document.querySelector('#cancel_btn');

        
        addCourse.addEventListener('click', () => {
            createCourse.classList.remove('d-none');
        });
        

        cancelBtn.addEventListener('click', () => {
            createCourse.classList.add('d-none');
        });

        //EDIT
        let editCourse = document.querySelector('#edit_course');
        let cancelEditBtn = document.querySelector('#cancel_edit_btn');
        function edit(courseTxt){
            const course = JSON.parse(courseTxt);
            let courseName = document.querySelector('#edit_course_name');
            //let price = document.querySelector('#edit_course_price');
            let courseId = document.querySelector('#course_id');
            courseId.value = course._id;
            courseName.value = course.name;
            //price.value = course.price;
            editCourse.classList.remove('d-none');
        }
        cancelEditBtn.addEventListener('click', () => {
            editCourse.classList.add('d-none');
        });

    </script>

</body>
</html>