<%- include('partials/header'); %>

</head>
<body>
    <%- include('partials/loading'); %>
    <!---------------------------- add question -----------------------------------------> 


    <section class="main">

        <%- include('partials/menu_bar'); %>
        <!---------------------------- content  ----------------------------------------->
        <article class="content min-vh-100">
            <%- include('partials/check_message'); %>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/course">Course</a></li>
                <li class="breadcrumb-item"><a href="/admin/units/<%= unit.courseId %>">Units</a></li>
                <li class="breadcrumb-item"><a href="/admin/unit-detail/<%= unit._id %>"><%= unit.title %></a></li>
                <li class="breadcrumb-item"><a href="/admin/quiz/<%= unit._id %>">Quiz</a></li>
                <li class="breadcrumb-item"><a href="/admin/matching/<%= unit._id %>">Matching</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail</li>
                </ol>
            </nav>
            <div class="unit-card card mx-auto p-4">
                <h5 class="text-center mb-3">Edit Matching</h5>
                <form action="/admin/update-matching" method="post" onsubmit="showLoading();">
                    <label for="" class="form-label mb-1 fw-medium"><small>Add Words</small></label>
                    <% for(var i = 0; i < match.length; i++){ %>
                        <div class="row mt-2">
                            <div class="col-6">
                                <input type="text" name="wordA[]" value="<%= match[i].a %>" class="form-control" placeholder="Match A" required>
                            </div>
                            <div class="col-6">
                                <input type="text" name="wordB[]" value="<%= match[i].b %>" class="form-control" placeholder="Match B" required>
                            </div>
                        </div>
                    <% } %>

                    <input type="button" class="btn btn-success mt-3" value="+ Add" onclick="addMatch();" id="add-match-btn-id">
                    <input type="hidden" name="unitId" value="<%= unitId %>">
                    <input type="hidden" name="index" value="<%= index %>">
                    <div class="d-flex justify-content-end align-items-center mt-2">
                        <input type="submit" class="btn btn-sm btn-success" value="Update">
                    </div>
                </form>
            </div>
       </article>

        <%- include('partials/footer'); %>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/all.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
        
        function addMatch(){
            $(`
                <div class="row mt-2">
                    <div class="col-6">
                        <input type="text" name="wordA[]" class="form-control" placeholder="Match A" required>
                    </div>
                    <div class="col-6">
                        <input type="text" name="wordB[]" class="form-control" placeholder="Match B" required>
                    </div>
                </div>
            `).insertBefore('#add-match-btn-id');
        }


    </script>
</body>
</html>