<%- include('partials/header'); %>

</head>
<body>
    <%- include('partials/loading'); %>
    <%- include('partials/delete_alert_box'); %>
    <!---------------------------- Create -----------------------------------------> 
    <div class="create min-vh-100 w-100 position-fixed top-0 d-flex justify-content-center align-items-center fadeIn d-none" id="create_question">
        <div class="new-content rounded py-4 px-3 shadow-sm">
            <h5 class="text-center mb-3">Add Question</h5>
            <form action="/admin/matching" method="post" onsubmit="showLoading();">
                <label for="" class="form-label mb-1 fw-medium"><small>Add Words</small></label>
                <div class="row mt-2">
                    <div class="col-6">
                        <input type="text" name="wordA[]" class="form-control" placeholder="Match A" required>
                    </div>
                    <div class="col-6">
                        <input type="text" name="wordB[]" class="form-control" placeholder="Match B" required>
                    </div>
                </div>
                
                <input type="button" class="btn btn-success mt-3" value="+ Add" onclick="addMatch();" id="add-match-btn-id">
                <input type="hidden" name="unitId" value="<%= unit._id %>">
                <div class="d-flex justify-content-end align-items-center mt-2">
                    <div class="btn btn-sm btn-danger me-2" id="cancel_btn">Cancel</div>
                    <input type="submit" class="btn btn-sm btn-success" name="Create" value="Create">
                </div>
            </form>
        </div>
    </div>


    <!-----------------------Main Content --------------->
    <section class="main">

        <%- include('partials/menu_bar'); %>

        <!---------------------------- content  ----------------------------------------->
        <article class="content min-vh-100">
             <%- include('partials/check_message'); %>
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/course">Course</a></li>
                    <li class="breadcrumb-item"><a href="/admin/units/<%= unit.courseId %>">Units</a></li>
                    <li class="breadcrumb-item"><a href="/admin/unit-detail/<%= unit._id %>"><%= unit.title %></a></li>
                    <li class="breadcrumb-item"><a href="/admin/quiz/<%= unit._id %>">Quiz</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Matching</li>
                    </ol>
                </nav>
                <div class="btn btn-sm btn-warning" id="add_question"><small><i class="bi bi-plus me-2"></i>Add Unit</small></div>
            </div>
            <div class="table-container mt-3 py-3 px-2 bg-white shadow-sm">
                <table id="example" class="display bg-white" style="width:100%">
                    <thead>
                        <tr>
                            <th>Lesson</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%  for(var i = 0; i < unit.quiz.matching.length; i++){ %>
                            <tr>
                                <td><%= "Matching " + (i + 1) %></td>
                                <td>
                                    <a href="/admin/matching-detail/<%= unit._id %>/<%= i %>" class="text-info text-decoration-underline mx-2">more Info</a>
                                
                                    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setDeleteData('/admin/delete-matching/<%= unit._id %>/<%= i %>')">
                                        <i class="bi bi-trash3-fill"></i>
                                    </a>
                                
                                </td>
                            </tr>
                        <% } %>
                        
                    </tbody>
                </table>
            </div>
        </article>

        <%- include('partials/footer'); %>

    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" ></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/all.js"></script>
    <script>

        $(document).ready(function () {
            $('#example').DataTable();
        });

        let addQues = document.querySelector('#add_question'),
        craeteQues = document.querySelector('#create_question'),
        cancelBtn = document.querySelector('#cancel_btn');

        addQues.addEventListener('click', () => {
            craeteQues.classList.remove('d-none');
        });

        cancelBtn.addEventListener('click', () => {
            craeteQues.classList.add('d-none');
        });

        function addMatch(){
            $(`
                <div class="row mt-2">
                    <div class="col-6">
                        <input type="text" name="wordA[]" class="form-control" placeholder="Match A" required>
                    </div>
                    <div class="col-6">
                        <input type="text" name="wordB[]" class="form-control" placeholder="Match B" required>
                    </div>
                </div>
            `).insertBefore('#add-match-btn-id');
        }

        function setDeleteData(link){
            let deleteBtn = document.querySelector('#deleteButtonID');
            deleteBtn.href = link;
        }

    </script>
</body>
</html>